body{
    background-color: rgb(186, 23, 23);
}

.header{display: flex;

}
.date{ flex-grow: 2; text-align: right; color: rgb(220, 29, 29);
    
}
.footer{
    display: flex;
}
.icon1{
   flex-grow: 2; text-align: right;
}
.nav-pills .nav-link.active, .nav-pills .show.nav-link {
    color: #f20b0b;
    background-color: rgb(230, 13, 13);
}